table {
  border-collapse: collapse;
  font-size: 22px;
}

table, th, td {
  border-bottom: 1px solid black;
  padding: 10px 3px;
}

.articles {
  margin: 30px 0px;
}

.year {
  font-size: 40px;
}

.article p {
  font-size: 25px;
}

.article a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dotted black;
}