.about {
  display: flex; height: 250px; align-items: center;
}
.shortAbout {
  width: 70%;
}
.shortAbout a {
  text-decoration: none; color: inherit; border-bottom: 1px dotted black;
}
.shortAbout h1 {
  font-size: 40px;
}
.shortAbout h5 {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .shortAbout {
    width: 100%;
  }
}
